---
db_engine: 'django.db.backends.mysql'
db_host: 'localhost'
db_username: 'cosmoevent_local'
db_password: 'cosmoevent_local'
db_name: 'cosmoevent_local'
db_port: '3306'

cosmo_admin_email: 'cosmo.concepts.np@gmail.com'
cosmo_admin_password: 'Cosmo@1234'
app_secret:'px6a&kqkt%d3j@m4155+b%ovygmll_n9jg)fu_tyx@*f)+uy_^'
smtp_server: 'smtp.gmail.com'
smtp_port: 465
EMAIL_USE_TLS: True

debug: True
allowed_hosts: ['*']
