---
db_engine: 'django.db.backends.mysql'
db_host: 'localhost'
db_username: 'cosmoevent_local'
db_password: 'cosmoevent_local'
db_name: 'cosmoevent_local'
db_port: '3306'

cosmo_admin_email: 'test@test.com'
cosmo_admin_password: 'thisisjustT3sTp@ssword'
app_secret:'px6a&kqkt%d3j@m4155+b%ovygmll_n9jg)fu_tyx@*f)+uy_^'
smtp_server: 'smtp.test.com'
smtp_port: 465

debug: True
allowed_hosts: ['*']
