{% load static %}

{% comment %} {% extends 'cosmo_user/base.html' %}


{% block password_reset %}

{% endblock password_reset %}

{% block content %}
    <div class="main">
        {% if messages %}
            {% include 'cosmo_user/notification.html' %}
        {% endif %}
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'cosmo_user/images/browser-lock.png' %}" alt="sing in image"></figure>
                        <a href="{% url 'password_reset' %}" class="signup-image-link">Forgot Your Password?</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">{{ message }}</h2>
                        <form method="POST" class="register-form" id="login-form" action="/login">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Username" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="form-group form-button">
                            <a href="{% url 'user-register' %}">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Register"/>                            
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %} {% endcomment %}


<html>
  <head>
    <title>
      {% if title %}
      {{title}}
      {% else %}
        Cosmo Event
    {% endif %}
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{% static 'cosmo_user/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
      function closeNav() {
        document.getElementById("alert-text").style.display = "none";
      }
    </script>
  </head>
  <body>
    <!-- <div class="background-cover">
         <img src="images/bg.png">
        </div>-->
    <div class="body-container">
      <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div>
      <div class="main-container">
        <div class="sub-container">
          <div class="logo">
            <img src="{% static 'cosmo_user/images/logo.png' %}" />
          </div>
          

          <div class="login-title">
            <p class="title">{% if message %} {{ message }} {% else %} Login Credentials {% endif %}</p>
          </div>
        </div>
        <div class="container">
          <form  method="POST" action="/login">
                {% csrf_token %}

            <div class="form-group" id="name">
              <label for="your_name"><i class="fas fa-user"></i></label>
                <input type="text" name="username" id="usernamee" placeholder="Username" autocomplete="off" required/>
            </div>
            <div class="form-group" id="pwd">
              <label for="your_name"><i class="fas fa-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required/>
            </div>
            <div id="forgot-pwd">
              <p><a class="p-text" href="password.html">Forgot password?</a></p>
            </div>
            <div class="form-group" id="button">
              <button type="submit" class="btn">Login</button>
            </div>
          </form> 
        </div>
        <div>
        </div>
        <div class="signup-container">
          Don't have an account?
          <a class="p-text" href="{% url 'user-register' %}">Sign up</a>
        </div>
      </div>
      <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div>
    </div>
  </body>
</html>
