<html>
{% load static %}
  <head>
    <title>
      Cosmo Acoustic Challenge
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'cosmo_user/assets/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'cosmo_user/style.css' %}" />
    <script src="{% static 'cosmo_user/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'cosmo_user/assets/js/bootstrap.min.js' %}"></script>
    <script>
      function closeNav() {
        document.getElementById("alert-text").style.display = "none";
      }
    </script>
  </head>
  <body>
    <div class="body-container">
      <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div>
      <div class="main-container">
        <div class="register-title">
          <p class="title">Register</p>
        </div>
        <div class="register-container">
          <form method="POST" class="register-form">
                {% csrf_token %}

            <div class="form-group form-group1" id="name">
              <label for="your_name"
                ><i class="fas fa-file-signature"></i
              ></label>
              <input class="input-register" type="text" id="usernamee" required autocomplete="off" placeholder="First Name" {% if first_name %} value="{{first_name}}" {% endif %} name="first_name"/>
            </div>
            <div class="form-group form-group1" id="name">
              <label for="your_name"
                ><i class="fas fa-file-signature"></i
              ></label>
              <input class="input-register" type="text" id="usernamee" required autocomplete="off" placeholder="Last Name" {% if last_name %} value="{{last_name}}" {% endif %} name="last_name"/>
            </div>
            <div class="form-group form-group1" id="name">
              <label for="your_name"><i class="fas fa-phone-volume"></i></label>
              <input class="input-register" type="number" id="usernamee" required autocomplete="off" placeholder="Phone number" {% if phone %} value="{{phone}}" {% endif %} name="phone"/>
            </div>
            <div class="form-group form-group1" id="name">
              <label for="your_name"><i class="fas fa-envelope"></i></label>
              <input class="input-register" type="email" id="usernamee" required autocomplete="off" placeholder="Email" {% if email %} value="{{email}}" {% endif %} name="email"/>
            </div>
            <div class="form-group form-group1" id="name">
              <label for="your_name"><i class="fas fa-user"></i></label>
              <input class="input-register" type="text" id="usernamee" required autocomplete="off" placeholder="Username" {% if username %} value="{{username}}" {% endif %} name="username"/>
            </div>
            <div class="form-group form-group1" >
              <label for="your_name"><i class="fas fa-lock"></i></label>
              <input class="input-register" type="password" id="password" required autocomplete="off" placeholder="Password" name="password"/>
            </div>

            <div class="grid-container">
              <div class="checkbox grid-item-first">
                <input type="checkbox" id="box" value="0" />
              </div>
              <div class="grid-item"><p>I Agree,<a  data-toggle="modal"
            data-target="#myModal" style="text-decoration:none; color:white;cursor:pointer;"> Terms and Condition</a></p></div>
            <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title" style="color:black;">Terms and Conditions</h4>
              </div>
              <div class="modal-body">
                 <p style="text-align:justify;">
                  <h3 class="text-center"><b>Competition Format</b></h3>
                  <ul class="list_terms">
                    <li>Interested challengers should upload a YouTube video link of them singing accompanied by a guitar, Ukulele or Piano by logging in to www.cosmoconcepts.com.np or can email their recorded video to musica.music.np@gmail.com before 12pm, 22nd June, 2019, Saturday with their full name and cell phone number.</li>
                    <li>50 challengers will be selected which will be announced on 25th June, 2019, Thursday. </li>
                    <li>The selected 50 challengers will be called for live audition on 29th June 2019, Saturday.</li>
                    <li>30 challengers will be selected for final challenge, announced by 2nd June, 2019 Tuesday. </li>
                    <li>There will be workshop to 30 selected challengers on 6th July 2019, Saturday.</li>
                    <li>One take video shoot which will be advanced for final challenge will be taken on 13th July 2019, Saturday.</li>
                    <li>All the 30 challengers’ videos will go live from Musica Music YouTube channel i.e. 
(https://www.youtube.com/c/MusicaMusic) on 20th July, 2019. </li>
                    <li>The challengers have two weeks beginning from 20th July, 2019, Saturday to 3rd August, 2019, Saturday, 12pm to get maximum votes from voting website “www.cosmoconcepts.com.np”   or likes on their YouTube video. </li>
                    <li>The voting will be closed on 3rd August, 2019, Saturday, 12pm and winners will be announced. </li>
                  </ul>
                  <h4><b>NOTE: Registration for this event is Rs.2000/- which will be applicable for selected 30 challengers only.</b></h4>
                  <h5 class="list_terms"><b>Winning Criteria</b></h5>
                  <ul class="list_terms">
                      <li>2 Winners with highest vote on voting website “www.cosmoconcepts.com.np”</li>
                      <li>1 Winner with Most popular on YouTube (Video with maximum likes).</li>
                      <li>1 Winner selected through editor’s choice.</li>
                  </ul>
                  <h5 class="list_terms"><b>Rules and Guidelines</b></h5>
                  <ul class="list_terms">
                      <li>50 challengers will be called for live audition on 29th June 2019.</li>
                      <li>Only 30 challengers will be selected for challenge which will be informed by 2nd July, 2019. </li>
                      <li>Challengers can sing their songs in any language.</li>
                      <li>Challengers must be accompanied by a Guitar, Ukulele or Piano (the instrument player could either be the contestant themselves or a friend). </li>
                      <li>Video recording shall be done only by the event organizing team. </li>
                      <li>The performance will be video recording within specific time frame given by the organizing team (make sure you are prepared and don’t forget to tune your instrument!). </li>
                      <li>The performance of each challenger shall not exceed three minutes thirty seconds.</li>
                      <li>Challengers are responsible to get maximum votes on their video on voting website.  </li>
                      <li>Challengers are responsible for getting maximum likes in their uploaded YouTube video.</li>
                      <li>Winners will be selected according to the votes they get on voting website or likes on their YouTube video. </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
            </div>

            <div class="form-group" id="register-button">
              <button type="submit" id="check" class="btn" disabled>
                Sign Up
              </button>
            </div>
          </form>
        </div>
        {% if messages %}
            {% include 'cosmo_user/notification.html' %}
        {% endif %}
        {% if error %}
        <div id="alert-text" class="w3-panel w3-red">
            {% for err in error %}
             
                  <p>
               {{forloop.counter}}. {{err}}<br/>
                  
                  </p>
            {% endfor %}
                  <p class="panel-box" onclick="closeNav()">&times;</p>

              </div>

        {% endif %}

        <div class="signin-container">
          <p>
            Already have an account?
            <a class="p-text" style="cursor:pointer" href="{% url 'user-login' %}">Sign in</a>
          </p>
        </div>
      </div>
      <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div>
    </div>
    <script>
      var checkbox = document.getElementById("box");
      checkbox.addEventListener("change", function(e) {
        e.preventDefault();
        if (this.checked) {
          document.getElementById("check").disabled = false;
        } else {
          document.getElementById("check").disabled = true;
        }
      });
    </script>
  </body>
</html>
