{% extends "cosmo_manager/base.html" %}
{% load static %}
{% block content %}
 <div id="text-area">
    <h3 class="welcome-text">Welcome, {{ request.user.get_full_name | title }}</h3>
    <div class="form-group" id="register-button">
    <a href="{% url 'participate' %}"> <button type="submit" class="btn participate-btn">Participate</button></a>
    </div>
</div>
<div class="home-page">
    <img src="{% static 'cosmo_manager/images/logo.png' %}" class="home-page-logo"/>
</div>
{% if messages %}
    {% include 'cosmo_user/notification.html' %}
{% endif %}
{% endblock content %}