{% extends "cosmo_manager/base.html" %}
{% block content %}
<div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h4 class="modal-title">Search</h4>
              </div>
              <div class="modal-body">
                <p>Search Challenger by their Challenger id or their names.</p>
                <form method="POST" action="/home/search-video">
                {% csrf_token %}
                  <input type="text" name="search" class="search-text" />
                  <button class="searcher"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="vote-container">
          <div class="contestant-list">
            <h3 class="main-text-vote">
              Welcome To Cosmo Acoustic Challenge 2.0
              {% if messages %}
                  {% include 'cosmo_user/notification.html' %}
              {% endif %}
            </h3>
            <div class="main-text-vote">
            <h3>Winners</h3>
            </div>
            <div class="main-text-vote">
            </div>
            <div class="list-content">
              {% for data in votes %}
                    <div class="list-item">
                        <div class="contestant-image-container">
                        <span class="helper"></span>
                        <img src="https://img.youtube.com/vi/{{data.voteVideo_link}}/0.jpg" class="contestant-image" />
                        </div>
                        <div class="contestant-description">
                        <div>{{data.contestantNumber}}</div>
                        <div>{{data.cosmo_user.user.get_full_name}}</div>
                        <div>Vote: {{data.vote}}</div>
                        </div>
                    </div>
              {% endfor %}
              
            </div>
          </div>
        </div>
{% endblock content %}
