{% extends 'cosmo_user/base.html' %}
{% load static %}

{% block content %}
<div class="body-container">
      {% comment %} <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div> {% endcomment %}
      <div class="main-container">
        <div class="password-container">
          <div class="emoji">
            <img src="{% static 'cosmo_user/images/confused.svg' %}" />
          </div>
          <div class="password-title">
            <p class="title">
              Forgot Password?
            </p>
            <p class="instruction">
              Enter your Email address to recieve your password reset
              instruction.
            </p>
          </div>
          <div class="verify-container">
            <div class="form-group">
              <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
            <div class="form-group" id="verify-btn">
                    <button type="submit" class="btn">Submit</button>              
              </form>
          
            </div>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <img class="ad-image" src="" alt="Ad" />
      </div>
    </div>
{% endblock content %}


    <div class="main">
        <section class="sign-in">
            <div class="container">
                <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
            </div>
        </section>
    </div>